// Your custom styles
.btn-floating {
  box-shadow: none !important;
}

.circleNavLink {
  text-align: center;
  padding: 4px;
}

.backgroundColorInherit {
  background-color: inherit !important;
}
.borderNone {
  border: none;
}

.text-align-center {
  text-align: center;
}

.callBar {
  min-width: 180px;
  width: 180px;
  max-height: 725px;
}
.callBarText {
  font-size: 14px;
}

.noteButtons {
  cursor: pointer;
  flex: 0 0 96px;
  display: flex;
  width: 100%;
  height: 100%;

}


@mixin centeredContainer() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteButtonEdit {
  @include centeredContainer();
  background-color: white;
}

.noteButtonDelete {
  @include centeredContainer();
  background-color: $red-darken-2;
  color: white;
}
.red-darken-2 {
  background-color: $red-darken-2;

}


.timelineStepper li:not(:last-child):after {
  left: 131px;
  top: 45px;
  background-color: #d8d8d8;
}
.timelineStepperRight li:not(:last-child):after {
  left: 48px;
  top: 20px;
  height: calc(100% + 10px);
  background-color: #d8d8d8;
}
.timelineChip {
  height: 25px !important;
  line-height: 25px !important;
  margin-right: 4px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  color: #818A91 !important;
  font-size: 15px !important;
}
.timelineCardBody {
  border: 1px solid;
  border-top-width: 0px;
  background-color: #E6E8E9;
  //font-size: 14px;
}
.pointer {
  cursor: pointer;
}
.gray-background {
  background-color: #E6E8E9;
}

.timelineCardHeader {
  border-style: none !important;
  border-left-width: 5px !important;
  border-left-style: solid !important;
  //border-bottom-width: 2px;
  //border-bottom-color: #DCE0E3 !important;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.f-s {
  font-size: 12px;
}
.f-s {
  font-size: 14px;
}
.f-m {
  font-size: 16px;
}
.f-l {
  font-size: 18px;
}
.f-xl {
  font-size: 20px;
}
.f-s-i {
  font-size: 12px !important;
}
.f-s-i {
  font-size: 14px !important;
}
.f-m-i {
  font-size: 16px !important;
}
.f-l-i {
  font-size: 18px !important;
}
.f-xl-i {
  font-size: 20px !important;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}

.disabledColor {
  color : #cccccc
}
.gray-border {
  border: 1px solid #c2c2c2;
}

.CalendarDay__default {
  border: none;
}
.CalendarDay__selected {
  border-radius: 50%;
}

.customStepper li:not(:last-child):after {
    background-color: #d8d8d8;
}
