// Your custom styles
.btn-floating {
  box-shadow: none !important;
}

.circleNavLink {
  text-align: center;
  padding: 4px;
}

.backgroundColorInherit {
  background-color: inherit !important;
}
.borderNone {
  border: none;
}

.text-align-center {
  text-align: center;
}

.callBar {
  min-width: 180px;
  width: 180px;
  max-height: 650px;
}
.callBarText {
  font-size: 14px;
}
