// Your custom styles
.btn-floating {
  box-shadow: none !important;
}

.circleNavLink {
  text-align: center;
  padding: 4px;
}

.backgroundColorInherit {
  background-color: inherit !important;
}
.borderNone {
  border: none;
}

.text-align-center {
  text-align: center;
}

.callBar {
  min-width: 180px;
  width: 180px;
  max-height: 725px;
}
.callBarText {
  font-size: 14px;
}

.noteButtons {
  cursor: pointer;
  flex: 0 0 96px;
  display: flex;
  width: 100%;
  height: 100%;

}

@mixin centeredContainer() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteButtonEdit {
  @include centeredContainer();
  background-color: white;
}

.noteButtonDelete {
  @include centeredContainer();
  background-color: $red-darken-2;
  color: white;
}


.timelineStepper li:not(:last-child):after {
  left: 118px;
  top: 45px;
  background-color: #d8d8d8;
}
.timelineChip {
  height: 20px !important;
  line-height: 20px !important;
  margin: 2px !important;
  color: #818A91 !important;
}

.disabledColor {
  color : #cccccc
}

