// Your custom styles
.btn-floating {
  box-shadow: none !important;
}

.lowercaseButton {
  text-transform: none !important;
}

.circleNavLink {
  text-align: center;
  padding: 4px;
}

.backgroundColorInherit {
  background-color: inherit !important;
}
.borderNone {
  border: none;
}

audio:focus {
    outline: none !important;
}

.text-align-center {
  text-align: center;
}

.callBar {
  min-width: 180px;
  width: 180px;
  max-height: 725px;
}
.callBarText {
  font-size: 14px;
}

.noteButtons {
  cursor: pointer;
  flex: 0 0 96px;
  display: flex;
  width: 100%;
  height: 100%;

}
.w-900px {
  width: 900px;
}

.bookingStepper {
  padding-left : 50px !important;
  padding-right: 50px !important;
}
.bookingStepper li:hover {
  background-color: inherit;
}
.bookingStepper li:first-child {
  //padding-left: 100px;
}
.bookingStepper li:not(:last-child):after {
  //flex-basis: 50%;
}
.bookingStepper li:not(:first-child):before {
  //flex-grow : 0;
}

.break {
  flex-basis: 100%;
  height: 0;
}

@mixin centeredContainer() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteButtonEdit {
  @include centeredContainer();
  background-color: white;
}

.noteButtonDelete {
  @include centeredContainer();
  background-color: $red-darken-2;
  color: white;
}
.red-darken-2 {
  background-color: $red-darken-2;
}
.stop-icon-bg {
  color: $deep-orange-lighten-4;
}
.stop-icon-color {
  color: $deep-orange-darken-3;
}


.timelineStepper li:not(:last-child):after {
  left: 131px;
  top: 45px;
  background-color: #d8d8d8;
}
.timelineStepperRight li:not(:last-child):after {
  left: 48px;
  top: 20px;
  height: calc(100% + 10px);
  background-color: #d8d8d8;
}
.timelineChip {
  height: 25px !important;
  line-height: 25px !important;
  margin-right: 4px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  color: #818A91 !important;
  font-size: 15px !important;
}
.timelineCardBody {
  border: 1px solid;
  border-top-width: 0px;
  background-color: #E6E8E9;
  //font-size: 14px;
}
.pointer {
  cursor: pointer;
}
.gray-background {
  background-color: #E6E8E9;
}

.timelineCardHeader {
  border-style: none !important;
  border-left-width: 5px !important;
  border-left-style: solid !important;
  //border-bottom-width: 2px;
  //border-bottom-color: #DCE0E3 !important;
  //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

.f-s {
  font-size: 12px !important;
}
.f-s {
  font-size: 14px !important;
}
.f-m {
  font-size: 16px !important;
}
.f-l {
  font-size: 18px !important;
}
.f-xl {
  font-size: 20px !important;
}
.f-s-i {
  font-size: 12px !important;
}
.f-s-i {
  font-size: 14px !important;
}
.f-m-i {
  font-size: 16px !important;
}
.f-l-i {
  font-size: 18px !important;
}
.f-xl-i {
  font-size: 20px !important;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}

.disabledColor {
  color : #cccccc
}
.background-red {
  background-color : #f3d2cd
}

.background-transparent {
  background-color: transparent !important;
}
.gray-border {
  border: 1px solid #c2c2c2;
}
.gray-border-2 {
  border: 2px solid #c2c2c2;
}
.border-button {
  border: 2px solid;
}

.CalendarDay__default {
  border: none;
}
.CalendarDay__selected {
  border-radius: 50%;
}

.eiStepper li:not(:last-child):after {
    margin-left: 52px;
    background-color: #d8d8d8;
}
.breadcrumbChip {
  white-space: nowrap;
  overflow: hidden;
  text-overflow : ellipsis;
}


:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f9f9f9;
  --neutral-color: #fff;
}

.calendar {
  display: block;
  position: relative;
  width: 100%;
  //background: var(--neutral-color);
  //border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 0.7em 0;
  cursor: default;
  text-align: center;
  width: calc(100% / 8 * 7);
  //border-bottom: 1px solid var(--border-color);
}
.calendar .header .subtitle{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 82.5%;
  //font-size: 115%;
  //padding: 0.5em 0;
  //cursor: default;
  //text-align: center;
  //border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  //transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  //transform: scale(1.75);
  //transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--text-color-light);
  //font-size: 70%;
  //padding: 0.25em 0;
  //border-bottom: 1px solid var(--border-color);
  text-align: center;
  cursor: default;
  width: calc(100% / 8 * 7);
}

.calendar .body .cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5em;
  //border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  //background: var(--neutral-color);
  //transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
 // transition: 0.5s ease-out;
}

.calendar .body .selected {
  //border-left: 10px solid transparent;
  //border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  //border-image-slice: 1;
  border-radius: 50%;
}

.calendar .body .row {
  //border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  //font-size: 82.5%;
  //line-height: 1;
  //font-weight: 400;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  //color: var(--main-color);
  //opacity: 0;
  font-size: 75%;
  position: absolute;
  top: 1.0em;
  right: 1.2em;
  //transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  //opacity: 0.25;
  //transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 8);
  width: calc(100% / 8);
}

.toast-dark-text {
  color: black;
}

.small-font {
  font-size: 0.75rem;
}

/*@media (min-width: 576px) {
 .modal-dialog {
   max-width: 100%;
 }
}*/
