/*
m main
cn circular nav
e element
d div
o outer
*/

.m-cn-d {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transition: left 0.4s, top 0.4s, width 0.4s, height 0.4s;
}

.o-cn-d {
    border-radius: 50%;
    position: absolute;
    transition: left 0.4s, top 0.4s, width 0.4s, height 0.4s, font-size 0.4s;
}

.o-cn-d div{
    width: 100%;
    height: 100%;
}

.o-cn-d p{
    width: 100%;
    height: 100%;
}

.o-cn-d:hover>.m-cn-e-d {
    z-index: 2;
    font-size: 1em;
}

.m-cn-e-d-old {
    font-size: 0em;
    border-radius: 50%;
    position: absolute;
    transition: left 0.4s, top 0.4s, width 0.4s, height 0.4s, font-size 0.4s;
    zoom: 1;
    z-index: -2;
}

.m-cn-e-d {
    border-radius: 50%;
    position: absolute;
    transition: left 0.4s, top 0.4s, width 0.4s, height 0.4s, font-size 0.4s;
    zoom: 1;
    z-index: 2;
    font-size: 1em;
}

.m-cn-e-d img {
    width: 100%;
    height: 100%;
    display: block;
}
