.navButton {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.aboveTabCard {
    margin-top: -20px;
}

.leadInfo {
   padding: 1rem;
   padding-bottom: 25px;
}

.logo {
    margin : 7px;
    width: 70px;
    height: 36px;
}

.navBar {
    background-color: #CF483B;
}
.sideNav {
    background-color: #CF483B;
    width: 100px !important;
}
.sideNavItem {
    color : #B5BDCA;
}

.callNavLink {
    text-align: center;
    padding: 4px;
    color: #7c7c7c;

}
.darkIcon {
    color: #7c7c7c !important;
}
.outlineIcon {
    margin-top: -12px;
    margin-left: -2px;
}
.navDescriptor {
    margin-top: 30px;
    font-weight: 400;
    padding: 5px;
}
.divider {
    border-left: 1px solid #4A597E;
    height: 76px;
    margin: 12px;
}
